.sin-viñetas {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    justify-content: space-around;
    /* padding: px;  */
 
  }
 
  .buscador-1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 ;
 
 
  }
 
  img {
    border-radius: 50%;
    display: flex;
    width: 100px;
    height: 100px;
  }
 
  .logo {
    display: flex;
    align-items: center;
    padding-right: 1rem;
 
  }
 
  .boxFom{
     width: 100%;
     height: auto;
     padding-left: 1rem;
  }
 
  input {
    border-radius: 5px;
    border: none;
    background: transparent;
    width: 100%;
 
 
  }
 
  input:focus {
    outline: none;
  }
 
  .sin-viñetas .medio {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
 
  }
 
 
  .header-distribucion {
    width: 100%;
    /* max-width: 1024px; */
    margin: 0 auto;
    /* padding: 0 2rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 0px 1px solid red; */
    border-bottom: 2px #A52030;
    padding-bottom: 10px;
 
  }
 
 
 
  /* .espacio {
     display: flex;
     flex-direction: row-reverse;
     margin-top: none;
 
 } */
 
 
  form {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: .5rem;
  }
 
 
  .boton {
    background: transparent;
    border: none;
  }
 
  p {
    display: flex;
    color: #A52030;
    font-size: 45px;
    margin: 0;
  }
 
 
  /* ------------------------     iconos borde --------------------------- */
  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24
  }
 
  /* ------------------  iconos pre barra --------------------- ----------- */
 
  ul {
    padding: 0;
  }
 
  li {
    margin: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
 
  .home {
    color: #A52030;
    font-size: 100px;
  }
 
  .replay {
    color: #A52030;
 
 
  }
 
  .calendario {
    color: #A52030;
  }
 
 
  .grupos {
    color: #A52030;
  }
 
 
 
 
 
  /* ------     --------- estilo iconos post barra   --------   --------  --------- */
 
  .barra {
    color: #A52030;
    height: auto;
    width: 100px;
  }
 
 
  .link {
    size: 100px;
    color: #A52030;
  }
 
 
  .incognita {
    color: #A52030;
 
  }
 
  .campana-notificacion {
    color: #A52030;
 
  }
 
  .persona {
    color: #A52030;
 
  }
 
 