<header class="header-distribucion">

  <!-- <img src="/assets/img/smslogo.png" alt="logo-sms"> -->
  <div class="logo">
    <img src="../../../assets/img/smslogo.png" alt="logo-sms">

    <div class="boxFom">

      <form [formGroup]="searchForm">
        <div class="buscador-1">
          <input type="text" formControlName="buscador" placeholder="Buscar...">
          <button class="boton" type="submit">
            <span class="material-symbols-outlined">
              search
            </span>
          </button>
        </div>

      </form>
    </div>

  </div>

  <nav>
    <ul class="sin-viñetas medio">
      <li class="home"><span class="material-symbols-outlined">
          home
        </span>
      </li>
      <li class="replay"><span class="material-symbols-outlined">
          fast_forward
        </span>
      </li>
      <li class="calendario"><span class="material-symbols-outlined">
          calendar_today
        </span>
      </li>
      <li class="grupos">
        <span class="material-symbols-outlined">
          groups
        </span>
      </li>
    </ul>
  </nav>

  <div>
    <ul class="sin-viñetas">
    
      <li class="barra">
        |
      </li>
      <li class="link">
        <span class="material-symbols-outlined">
          link</span>
      </li>
      <li class="incognita">
        <span class="material-symbols-outlined">
          help
        </span>
      </li>
      <li class="campana-notificacion">
        <span class="material-symbols-outlined">
          notification_add
        </span>
      </li>
      <li class="persona">
        <span class="material-symbols-outlined">
          person
        </span>
      </li>
    </ul>

  </div>


</header>