.material-symbols-rounded {
  padding-right: 30px;
  color: #A52030;
  font-variation-settings:
  'FILL' 0,
  'wght' 0,
  'GRAD' 0,
  'opsz' NaN
}
.container {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 1rem;
}

.botones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.botonestres {
 margin-top: 1rem;
 width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.btn {
  padding: .3rem .5rem;
  margin: 0px;
  border-width: 0;
  outline: none;
  border-radius: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.335);
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  color: #8D8D88;

  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: rgb(222, 222, 222);
}
