<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="container">

  <div class="botones">
    <button class="btn">
      <span class="material-symbols-rounded">
        post_add
      </span>
      <span class="btn-text">
        Nueva Publicación
      </span>

    </button>

    <button class="btn">
      <span class="material-symbols-rounded">
        star
      </span>
      <span>
        Nuevo Reconocimiento
      </span>
    </button>
  </div>

  <div class="botonestres">
    <button class="btn">Todo</button>
    <button class="btn">Publicaciones</button>
    <button class="btn">Reconocimientos</button>
  </div>

</div>
