<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<div class="contenedor-barra-lateral-izquierda">
  <div class="barra-lateral-izquierda">
    <div class="datos-usuario">

      <div class="nombre-apellido">
        <div class="img-perfil"></div>
        <h3>Nombre Apellido</h3>
      </div>
      <div class="contenedor-links">
        <a href="">Mis Datos</a>
        <a href="">Mis Publicaciones</a>
      </div>

    </div>

    <div class="contenedor-grupos">
      <h2>Grupos</h2>
      <div class="linea"></div>
      <div class="grupo">
        <span class="material-symbols-rounded simbolo">
          equalizer
        </span>
        <a href="">Grupo xxxx</a>
      </div>
      <div class="grupo">
        <span class="material-symbols-rounded simbolo">
          groups
          </span>
        <a href="">Grupo xxxx</a>
      </div>
      <div class="grupo">
        <span class="material-symbols-rounded simbolo">
          palette
          </span>
          <a href="">Grupo xxxx</a>
      </div>
      <div class="grupo">
        <span class="material-symbols-rounded simbolo">
          frame_source
          </span>
          <a href="">Grupo xxxx</a>
      </div>
    </div>

    <div class="contenedor-espacios">
      <h2>Espacios</h2>
      <div class="linea"></div>
      <div class="espacio">
        <span class="material-symbols-rounded simbolo">
          calendar_month
        </span>
        <a href="">Eventos</a>

      </div>
      <div class="espacio">
        <span class="material-symbols-rounded simbolo">
          school
        </span>
        <a href="">Capacitaciones</a>

      </div>
      <div class="espacio">
        <span class="material-symbols-rounded simbolo">
          reduce_capacity
        </span>
        <a href="">Referidos</a>
      </div>
    </div>
  </div>
</div>
