@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.material-symbols-outlined {
  padding-right: 10px;
  color: #A52030;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.card {
  width: 100%;
  margin: 0 auto;
  border-width: 0;
  outline: none;
  border-radius: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.335);
}

.card-body {
  padding: 1rem;
}

.profile-pic {
  background-image: radial-gradient(circle, #ffe1e5, #f2bec4, #e49ba1, #d3797f, #c1565d, #b6444c, #aa313b, #9e1a2a, #991525, #941020, #8e0b1c, #890517);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.card-image {
  width: 100%;
}

.card-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.card-text {
  font-size: 14px;
}

.interact {
  display: flex;
  justify-content: center;
}

.interact-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  padding: 10px;
}

.btn {
  padding: .3rem .5rem;
  margin: 0px;
  border-width: 0;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  color: #8D8D88;

  width: 100%;

  transition: background-color .3s;
}

.btn:hover,
.btn:focus {
  background-color: rgb(222, 222, 222);
}

.likes {
  margin-inline: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px double #8d8d887c;
}

#dots {
  align-self: flex-start;
}

a {
  color: #A52030;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


h5 {
  margin: 0;
}

p {
  margin: 0;
}

