<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="barra-lateral-derecha">

  <div class="contenedor-novedades">

    <div class="novedad">
      <div class="linea-superior-novedad">
        <span class="material-symbols-rounded">
          campaign
        </span>
        <p>
          Novedad XXXXXXXXXXX
        </p>
      </div>
    </div>

    <div class="novedad">
      <div class="linea-superior-novedad">
        <span class="material-symbols-rounded">
          campaign
        </span>
        <p>
          Novedad XXXXXXXXXXX
        </p>
      </div>
    </div>

    <div class="novedad">
      <div class="linea-superior-novedad">
        <span class="material-symbols-rounded">
          campaign
        </span>
        <p>
          Novedad XXXXXXXXXXX
        </p>
      </div>
    </div>


  </div>


  <div class="beneficios">
    <span>
      regalito
    </span>
    <p>¡Beneficios SMS!</p>
  </div>
  <div class="prox-eventos"></div>
  <div class="prox-cumpleanios"></div>
</div>
